.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  padding: 1.6rem 4.8rem;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border: none;
  color: #fff;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background: transparent;

    background-image: linear-gradient(#9a39ff, #ff29b9);
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: #150e28;
      border-radius: 5px;
      box-sizing: border-box;
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover::before {
      opacity: 0;
    }
  }
}
