.footer {
  padding: 7.2rem 0 5.6rem;
  background-color: #100b20;

  &__grid {
    display: grid;
    grid-template-columns: 45fr 30fr 25fr;
    column-gap: 12.8rem;
    row-gap: 5.6rem;

    margin-bottom: 5.6rem;

    @include responsive(850px) {
      column-gap: 4.8rem;
    }

    @include responsive(650px) {
      grid-template-columns: repeat(2, 1fr);

      & > *:first-child {
        grid-column: 1 / -1;
      }
    }

    @include responsive(450px) {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__block-heading {
    font-weight: 600;
    color: #d434fe;
  }

  &__quick-links {
    margin-top: auto;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    & div {
      display: block;
      height: 1.6rem;
      width: 2px;
      background-color: #d434fe;
    }
  }

  &__menu {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__link {
    &:link,
    &:visited {
      color: #fff;
      font-size: 12px;
      text-decoration: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    & span {
      font-size: 12px;
      color: #d434fe;
    }

    & a {
      &:link,
      &:visited {
        text-decoration: none;
      }

      & ion-icon {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        color: #fff;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__contact {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;

    & ion-icon {
      flex-shrink: 0;

      display: block;
      width: 1.8rem;
      height: 1.8rem;
      color: #fff;

      margin-top: 0.8rem;
    }

    @include responsive(450px) {
      & br {
        display: none;
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
  }
}
