.grid-full {
  grid-column: 1 /-1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  & label {
  }
}

.form-input,
.form-select {
  height: 4.8rem;
  border-radius: 0.4rem;
  border: 1px solid #fff;
  background-color: rgba(#ffffff, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(#000, 0.25);
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0 1.8rem;
  color: #fff;
  outline: none;
}

.form-select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
}

textarea.form-input {
  padding: 2.4rem;
  height: auto;
}
