.modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  z-index: 9999999999;
  width: 70rem;
  max-width: calc(100vw - 4.8rem);
  border: 1px solid #d434fe;
  background-color: rgba($color: #fff, $alpha: 0.01);
  border-radius: 5px;
  padding: 4.8rem;
  transition: all 0.3s;

  &--open {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(400px) {
    padding: 2.4rem;
  }

  &__star-1 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
  }

  &__star-2 {
    position: absolute;
    left: 4.8rem;
    top: 40%;
  }

  &__star-3 {
    position: absolute;
    bottom: 1.2rem;
    right: 4.8rem;

    @include responsive(500px) {
      bottom: -4.8rem;
    }
  }

  &__img {
    display: block;
    height: 30rem;

    @include responsive(400px) {
      width: 80%;
      height: auto;

      margin-bottom: 3.6rem;
    }
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;

    margin-bottom: 1.2rem;

    @include responsive(400px) {
      font-size: 2.4rem;
      margin-bottom: 1.8rem;
    }
  }

  &__text {
    font-weight: 600;
    text-align: center;
    line-height: 1.4;

    @include responsive(400px) {
      font-size: 12px;
    }
  }

  &__btn {
    align-self: stretch;

    margin-top: 3.2rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #150e28, $alpha: 0.93);
  z-index: 99999999;
}
