.prize {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--first {
    transform: translateY(-7rem);

    @include responsive(650px) {
      transform: translateY(-3rem);
    }
  }

  &__img {
    display: block;
    width: 70%;
  }

  &--first &__img {
    width: 100%;
    transform: scale(1.1);

    @include responsive(650px) {
      transform: scale(1.05);
    }
  }

  &__main {
    margin-top: -10rem;
    z-index: -1;

    align-self: stretch;

    padding: 14.8rem 2.4rem 3.6rem;
    border: 1px solid #d434fe;
    background-color: rgba($color: #d434fe, $alpha: 0.12);
    border-radius: 0.8rem;

    @include responsive(650px) {
      padding: 14.8rem 1.2rem 2.4rem;
    }

    @include responsive(500px) {
      margin-top: -8rem;
      padding: 11rem 1.2rem 2.4rem;
    }
  }

  &--first &__main {
    border: 1px solid #903aff;
    background-color: rgba($color: #903aff, $alpha: 0.12);
  }

  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    margin-bottom: 2.4rem;

    @include responsive(650px) {
      gap: 0;
    }

    & span:first-child {
      font-weight: 700;
      font-size: 4rem;

      @include responsive(650px) {
        font-size: 20px;
      }
    }

    & span:last-child {
      font-weight: 600;
      font-size: 2.4rem;

      @include responsive(650px) {
        font-size: 18px;
      }
    }
  }

  &__price {
    font-size: 3.2rem;
    font-weight: 700;
    color: #d434fe;
    text-align: center;
    word-wrap: break-word;

    @include responsive(650px) {
      font-size: 18px;
    }
  }

  &--first &__price {
    color: #903aff;
  }
}
