.timeline {
  display: flex;
  gap: 1.6rem;

  position: relative;

  height: 15rem;

  @include responsive(850px) {
    height: auto;
  }

  &__left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    @include responsive(850px) {
      position: initial;
      left: 0;
      transform: none;
      height: auto;

      flex-shrink: 0;

      padding-top: 0.8rem;

      gap: 1.2rem;
    }
  }

  &__line {
    width: 4px;
    background-color: #d434fe;

    flex: 1;

    transform: scale(0);
    transform-origin: top;
  }

  &.first &__line {
    transition: all 0.3s 1.1s;
  }

  &.second &__line {
    transition: all 0.3s 2s;
  }

  &.third &__line {
    transition: all 0.3s 2.9s;
  }

  &.fourth &__line {
    transition: all 0.3s 3.3s;
  }

  &.fifth &__line {
    transition: all 0.3s 4s;
  }

  &.sixth &__line {
    transition: all 0.3s 4.5s;
  }

  .start &__line {
    transform: scale(1);
  }

  &__number {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
  }

  &.first &__number {
    transition: all 0.1s 1.3s;
  }

  &.second &__number {
    transition: all 0.1s 2.2s;
  }

  &.third &__number {
    transition: all 0.1s 3.1s;
  }

  &.fourth &__number {
    transition: all 0.1s 3.5s;
  }

  &.fifth &__number {
    transition: all 0.1s 4.2s;
  }

  &.sixth &__number {
    transition: all 0.1s 4.7s;
  }

  .start &__number {
    opacity: 1;
  }

  &__main {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 12.8rem;

    transform: translateY(-100%);
    opacity: 0;

    & > * {
      flex: 1;
    }

    @include responsive(850px) {
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;
    }
  }

  &.first &__main {
    transition: all 0.1s 1.4s;
  }

  &.second &__main {
    transition: all 0.1s 2.3s;
  }

  &.third &__main {
    transition: all 0.1s 3.3s;
  }

  &.fourth &__main {
    transition: all 0.3s 3.6s;
  }

  &.fifth &__main {
    transition: all 0.3s 4.3s;
  }

  &.sixth &__main {
    transition: all 0.3s 4.8s;
  }

  .start &__main {
    transform: translateY(0);
    opacity: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include responsive(850px) {
      & br {
        display: none;
      }
    }
  }

  &:nth-child(odd) &__content,
  &:nth-child(even) &__date {
    align-items: flex-end;
    text-align: right;

    @include responsive(850px) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__heading {
    font-size: 2.4rem;
    color: #d434fe;
    font-weight: 700;
  }

  &:nth-child(even) &__date {
    order: -1;

    @include responsive(850px) {
      order: 1;
    }
  }

  &__date {
    font-size: 2.4rem;
    color: #d434fe;
    font-weight: 700;
  }
}
