@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
.accordion {
  overflow: hidden;
  position: relative;
  height: 5.6rem;
  transition: all 0.3s; }
  .accordion--open {
    height: auto; }
  .accordion:not(:last-child) {
    margin-bottom: 1.8rem; }
  .accordion__header {
    background-color: #150e28;
    cursor: pointer;
    position: relative;
    height: 5.6rem;
    border-bottom: 1px solid #d434fe;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .accordion__toggle {
    cursor: pointer;
    margin-left: auto; }
    .accordion__toggle ion-icon {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      color: #d434fe; }
      .accordion__toggle ion-icon:first-child {
        display: block; }
      .accordion__toggle ion-icon:last-child {
        display: none; }
  .accordion--open .accordion__toggle ion-icon:first-child {
    display: none; }
  .accordion--open .accordion__toggle ion-icon:last-child {
    display: block; }
  .accordion__body {
    padding: 1.8rem 2.4rem;
    position: relative;
    transform: translateY(-100%);
    transition: all 0.3s; }
  .accordion--open .accordion__body {
    transform: translateY(0); }

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  padding: 1.6rem 4.8rem;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 56.42%, #ff26b9 99.99%, #fe34b9 100%);
  border: none;
  color: #fff;
  border-radius: 4px; }

.footer {
  padding: 7.2rem 0 5.6rem;
  background-color: #100b20; }
  .footer__container {
    display: grid;
    grid-template-columns: 45fr 30fr 25fr;
    column-gap: 12.8rem; }
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
  .footer__block-heading {
    font-weight: 600;
    color: #d434fe; }
  .footer__quick-links {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 2.4rem; }
    .footer__quick-links div {
      display: block;
      height: 1.6rem;
      width: 2px;
      background-color: #d434fe; }
  .footer__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1.8rem; }
    .footer__socials span {
      font-size: 1.2rem;
      color: #d434fe; }
    .footer__socials a:link, .footer__socials a:visited {
      text-decoration: none; }
    .footer__socials a ion-icon {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      color: #fff; }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .footer__contact {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem; }
    .footer__contact ion-icon {
      flex-shrink: 0;
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      color: #fff; }
  .footer__copyright {
    grid-column: 1 / -1;
    margin-top: 5.6rem;
    text-align: center;
    font-size: 1.2rem; }

.header {
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18); }
  .header__container {
    display: flex;
    align-items: center;
    gap: 12.8rem; }
  .header__brand {
    margin-right: auto;
    font-family: "ClashDisplay-Bold";
    font-size: 3.6rem;
    display: flex; }
    .header__brand span:last-child {
      color: #d434fe; }
  .header__navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem; }
  .header__navbar-link:link, .header__navbar-link:visited {
    text-decoration: none;
    color: #fff; }

.prize {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .prize:nth-child(2) {
    transform: translateY(-7rem); }
  .prize__img {
    display: block;
    width: 70%; }
  .prize:nth-child(2) .prize__img {
    width: 100%;
    transform: scale(1.1); }
  .prize__main {
    margin-top: -10rem;
    z-index: -1;
    align-self: stretch;
    padding: 14.8rem 2.4rem 3.6rem;
    border: 1px solid #d434fe;
    background-color: rgba(212, 52, 254, 0.12);
    border-radius: 0.8rem; }
  .prize:nth-child(2) .prize__main {
    border: 1px solid #903aff;
    background-color: rgba(144, 58, 255, 0.12); }
  .prize__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2.4rem; }
    .prize__position span:first-child {
      font-weight: 700;
      font-size: 4rem; }
    .prize__position span:last-child {
      font-weight: 600;
      font-size: 2.4rem; }
  .prize__price {
    font-size: 3.2rem;
    font-weight: 700;
    color: #d434fe;
    text-align: center; }
  .prize:nth-child(2) .prize__price {
    color: #903aff; }

.timeline {
  display: flex;
  gap: 1.6rem;
  position: relative; }
  .timeline__left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem; }
  .timeline__line {
    width: 4px;
    background-color: #d434fe;
    height: 5rem; }
    .timeline__line--long {
      transform: scaleY(2);
      transform-origin: bottom; }
  .timeline__number {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
    display: flex;
    align-items: center;
    justify-content: center; }
  .timeline__main {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12.8rem; }
    .timeline__main > * {
      flex: 1; }
  .timeline__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; }
  .timeline:nth-child(odd) .timeline__content,
  .timeline:nth-child(even) .timeline__date {
    align-items: flex-end;
    text-align: right; }
  .timeline__heading {
    font-size: 2.4rem;
    color: #d434fe;
    font-weight: 700; }
  .timeline:nth-child(even) .timeline__date {
    order: -1; }
  .timeline__date {
    font-size: 2.4rem;
    color: #d434fe;
    font-weight: 700; }

.hero {
  padding-top: 3.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden; }
  .hero__container {
    padding: 0 !important;
    max-width: 180rem;
    margin: auto;
    position: relative; }
  .hero__top {
    max-width: 165rem;
    padding: 0 2.4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 2.4rem; }
  .hero__top-heading {
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem; }
  .hero__top-img {
    display: block; }
  .hero__main {
    padding: 9.6rem 0;
    display: flex; }
  .hero__heading {
    font-family: "ClashDisplay-Bold";
    font-size: 8rem;
    line-height: 1.25;
    margin-bottom: 2.4rem; }
    .hero__heading img {
      display: inline-block;
      margin-bottom: -6px; }
    .hero__heading span {
      color: #d434fe; }
  .hero__text {
    font-size: 2rem;
    margin-bottom: 4.2rem; }
  .hero__time-blocks {
    margin-top: 8.4rem;
    display: flex;
    align-items: center;
    gap: 3.6rem; }
  .hero__time-block {
    display: flex;
    align-items: flex-end; }
  .hero__time {
    font-size: 6.4rem;
    font-family: "Unica One", cursive;
    line-height: 0.9; }
  .hero__time-unit {
    display: block; }
  .hero__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-bottom: -2.4rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #150e28;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  line-height: 27.5px; }

.heading-primary {
  font-size: 3.2rem;
  font-family: "ClashDisplay-Bold";
  line-height: 1.4;
  margin-bottom: 2.4rem; }
  .heading-primary span {
    color: #d434fe; }

.container {
  max-width: 140rem;
  margin: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.mb-small {
  margin-bottom: 2.4rem !important; }

.mb-medium {
  margin-bottom: 3.6rem !important; }

.mb-large {
  margin-bottom: 4.8rem !important; }

.info-section {
  padding: 4.8rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18); }
  .info-section__container {
    display: flex;
    align-items: center;
    gap: 9.6rem; }
  .info-section__img-block {
    flex: 0 0 60rem; }
    .info-section__img-block--lg {
      flex: 0 0 70rem; }
  .info-section__img {
    display: inline-block;
    max-width: 100%; }
  .info-section__main {
    flex: 1; }
  .info-section__content {
    display: flex;
    flex-direction: column;
    gap: 2.8rem; }
    .info-section__content p span {
      font-size: 1.6rem;
      color: #ff26b9;
      font-weight: 700; }
      .info-section__content p span.light {
        color: #fff;
        font-size: 1.4rem; }

.timeline-section {
  padding: 6.4rem 0; }
  .timeline-section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 15rem; }
  .timeline-section__heading {
    font-size: 3.2rem;
    font-family: "ClashDisplay-Bold"; }
  .timeline-section__heading-subtext {
    text-align: center; }
  .timeline-section__timelines {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }

.prizes-section {
  padding: 5.6rem 0 7.2rem;
  position: relative; }
  .prizes-section__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.19;
    z-index: -1; }
  .prizes-section__container {
    display: flex;
    gap: 2.4rem;
    position: relative; }
  .prizes-section__img-block {
    flex: 0 0 55rem; }
  .prizes-section__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem; }
  .prizes-section__img-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 55rem; }
  .prizes-section__prize-img {
    max-width: 100%; }
  .prizes-section__prizes {
    margin-top: 7rem;
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem; }

.partners-section {
  padding: 7.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18); }
  .partners-section__block {
    border-radius: 0.5rem;
    border: 1px solid #d434fe;
    background: rgba(255, 255, 255, 0.01);
    padding: 9.6rem 16rem;
    display: grid;
    grid-template-columns: 1fr 4px 1fr 4px 1fr;
    gap: 2.4rem; }
    .partners-section__block div {
      display: flex;
      align-items: center;
      justify-content: center; }
    .partners-section__block img {
      display: block; }
  .partners-section__h-divider {
    height: 4px;
    background-color: #d434fe; }
  .partners-section__v-divider {
    height: 15rem;
    background-color: #d434fe; }

.privacy-section {
  padding: 7.2rem 0; }
  .privacy-section__container {
    display: flex;
    align-items: center;
    gap: 5.6rem; }
    .privacy-section__container > * {
      flex: 1; }
  .privacy-section__img-block {
    text-align: right; }
    .privacy-section__img-block img {
      display: inline-block;
      max-width: 100%; }
  .privacy-section__info {
    border-radius: 0.5rem;
    border: 1px solid #d434fe;
    background: rgba(217, 217, 217, 0.03);
    padding: 6.2rem; }
  .privacy-section__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
    .privacy-section__list li {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem; }
      .privacy-section__list li span {
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: #2de100;
        display: flex;
        align-items: center;
        justify-content: center; }
        .privacy-section__list li span ion-icon {
          display: block;
          color: #fff;
          width: 1.8rem;
          height: 1.8rem; }

/*# sourceMappingURL=style.css.map */