.container {
  max-width: 140rem;
  margin: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.mb-small {
  margin-bottom: 2.4rem !important;
}

.mb-medium {
  margin-bottom: 3.6rem !important;
}

.mb-large {
  margin-bottom: 4.8rem !important;
}
