.info-section {
  padding: 4.8rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  &--overview {
    // background-color: #140d27;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 9.6rem;

    @include responsive(1250px) {
      gap: 5.8rem;
    }

    @include responsive(850px) {
      flex-direction: column;

      max-width: 70rem;
      text-align: center;
    }
  }

  &__img-block {
    flex: 0 0 60rem;

    &--lg {
      flex: 0 0 70rem;
    }

    @include responsive(1250px) {
      flex: 0 0 50rem;
    }

    @include responsive(950px) {
      flex: 0 0 45rem;
    }

    @include responsive(850px) {
      flex: initial;

      order: -1;
    }
  }

  &__img {
    display: inline-block;
    max-width: 100%;

    @include responsive(850px) {
      height: 45rem;
    }

    &--mobile-reduce {
      @include responsive(450px) {
        height: 35rem;
      }
    }
  }

  &__main {
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    & p span {
      font-size: 16px;
      color: #ff26b9;
      font-weight: 700;
    }
  }
}

.timeline-section {
  padding: 6.4rem 0;

  &__container {
    max-width: 120rem;
    margin: auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    margin-bottom: 15rem;

    @include responsive(850px) {
      margin-bottom: 7.2rem;
    }
  }

  &__heading {
    font-size: 3.2rem;
    font-family: "ClashDisplay-Bold";
  }

  &__heading-subtext {
    text-align: center;

    @include responsive(400px) {
      & br {
        display: none;
      }
    }
  }

  &__timelines {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include responsive(850px) {
      gap: 4.8rem;

      align-items: center;

      & > div {
        width: 60%;
      }
    }

    @include responsive(650px) {
      & > div {
        width: 70%;
      }
    }

    @include responsive(550px) {
      & > div {
        width: 100%;
      }
    }
  }
}

.prizes-section {
  padding: 5.6rem 0 7.2rem;
  position: relative;

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.19;

    z-index: -1;
  }

  &__container {
    display: flex;
    gap: 2.4rem;

    position: relative;

    padding: 0 !important;
  }

  &__header {
    display: flex;
    flex-direction: column;

    padding: 0 2.4rem;

    @include responsive(1350px) {
      align-items: center;
      text-align: center;
    }

    @include responsive(400px) {
      & p br {
        display: none;
      }
    }
  }

  &__img-block {
    flex: 0 0 55rem;

    @include responsive(1350px) {
      display: none;
    }
  }

  &__main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;

    min-width: 0;
    overflow: hidden;
  }

  &__img-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 55rem;
    max-width: 100%;

    @include responsive(1350px) {
      position: relative;
      transform: none;
      top: 0;
      margin-bottom: 2.4rem;
      width: 40rem;
    }
  }

  &__prize-img {
    max-width: 100%;
  }

  &__prizes {
    padding-top: 7rem !important;

    align-self: stretch;

    display: flex;
    gap: 2.4rem;

    padding: 0 2.4rem;

    & > * {
      flex: 1;
    }

    @media (max-width: 1350px) {
      max-width: 79.8rem;
      margin: auto;
    }

    @include responsive(450px) {
      overflow-x: scroll;
      max-width: initial;
      margin: initial;

      &::-webkit-scrollbar {
        display: none;
      }

      & > * {
        flex: 0 0 20rem;
      }
    }
  }
}

.partners-section {
  padding: 7.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  &__block {
    border-radius: 0.5rem;
    border: 1px solid #d434fe;
    background: rgba(255, 255, 255, 0.01);
    padding: 9.6rem 16rem;

    display: grid;
    grid-template-columns: 1fr 4px 1fr 4px 1fr;
    gap: 2.4rem;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & img {
      display: block;
      max-width: 100%;
    }

    @include responsive(750px) {
      padding: 4.8rem 9.6rem;
    }

    @include responsive(500px) {
      padding: 4.8rem;
    }
  }

  &__h-divider {
    height: 4px;
    background-color: #d434fe;
  }

  &__v-divider {
    height: 15rem;
    background-color: #d434fe;
  }
}

.privacy-section {
  padding: 7.2rem 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 5.6rem;

    & > * {
      flex: 1;
    }

    @include responsive(850px) {
      flex-direction: column;

      max-width: 70rem;
      text-align: center;
    }
  }

  &__img-block {
    text-align: right;

    & img {
      display: inline-block;
      max-width: 100%;

      @include responsive(850px) {
        height: 50rem;
      }
    }
  }

  &__info {
    border-radius: 0.5rem;
    border: 1px solid #d434fe;
    background: rgba(217, 217, 217, 0.03);
    padding: 6.2rem;

    @include responsive(950px) {
      padding: 6.2rem 3.6rem;
    }
  }

  &__info-heading {
    font-weight: 700;
    color: #d434fe;
    font-size: 1.6rem;
    text-align: left;
  }

  &__info-sub-heading {
    text-align: left;
    font-weight: 700;
  }

  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    text-align: left;

    & li {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;

      & span {
        flex-shrink: 0;

        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: #2de100;
        margin-top: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: center;

        & ion-icon {
          display: block;
          color: #fff;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }
}

.faq-heading {
  font-size: 12px;

  & span {
    font-weight: 700;
  }

  @include responsive(350px) {
    & br {
      display: none;
    }
  }
}

.privacy-heading {
  @include responsive(500px) {
    & br {
      display: none;
    }
  }
}

.header-hero {
  padding-top: 4rem;

  position: relative;
  overflow: hidden;

  &__flare-1 {
    position: absolute;
    top: -10rem;
    left: -10rem;
    z-index: -1;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1900px) {
      left: -30rem;
    }

    @include responsive(1750px) {
      left: -50rem;
      top: 0;
    }

    @include responsive(1450px) {
      left: -60rem;
    }

    @include responsive(1200px) {
      left: -40rem;
    }

    @include responsive(700px) {
      left: -80rem;
      top: -30rem;
    }

    @include responsive(550px) {
      left: -90rem;
      top: -30rem;
    }
  }

  &__flare-2 {
    position: absolute;
    top: -20rem;
    right: -10rem;
    z-index: -1;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1450px) {
      right: -20rem;
    }

    @include responsive(1200px) {
      display: none;
    }
  }
}

.overview-to-faq-section {
  position: relative;
  overflow: hidden;

  &__flare-1 {
    position: absolute;
    top: 10rem;
    left: -5rem;
    z-index: -1;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1900px) {
      left: -30rem;
    }

    @include responsive(1350px) {
      left: -50rem;
    }

    @include responsive(950px) {
      top: -10rem;
      left: -60rem;
    }

    @include responsive(850px) {
      top: 20rem;
    }

    @include responsive(650px) {
      left: -80rem;
    }
  }

  &__flare-2 {
    position: absolute;
    top: 25%;
    right: 0;
    z-index: -1;
    opacity: 0.68;
  }

  &__flare-3 {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1700px) {
      left: -15rem;
      top: 45%;
    }

    @include responsive(1050px) {
      left: -30rem;
      top: 40%;
    }

    @include responsive(850px) {
      left: -20rem;
      top: 37%;
    }

    @include responsive(600px) {
      left: -35rem;
    }
  }

  &__flare-4 {
    position: absolute;
    top: 55%;
    right: -50rem;
    z-index: -1;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1350px) {
      right: -70rem;
    }

    @include responsive(600px) {
      right: -90rem;
    }
  }
}

.prizes-to-privacy-section {
  position: relative;
  overflow: hidden;

  &__flare-1 {
    position: absolute;
    top: -15rem;
    left: 15rem;
    z-index: 0;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1800px) {
      left: 10rem;
    }

    @include responsive(1650px) {
      left: 0;
    }

    @include responsive(1350px) {
      top: 8rem;
      left: 25rem;
    }

    @include responsive(1200px) {
      top: 0rem;
      left: 10rem;
    }

    @include responsive(900px) {
      top: -15rem;
      left: -20rem;
    }

    @include responsive(500px) {
      top: -35rem;
      left: -35rem;
    }

    @include responsive(450px) {
      left: -60rem;
    }
  }

  &__flare-2 {
    position: absolute;
    top: 30rem;
    right: 0;
    z-index: 0;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1350px) {
      top: 60rem;
    }

    @include responsive(700px) {
      right: -20rem;
    }
  }

  &__flare-3 {
    position: absolute;
    top: 40rem;
    left: -40rem;
    z-index: 0;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1800px) {
      left: -50rem;
    }

    @include responsive(1650px) {
      left: -60rem;
      top: 45rem;
    }

    @include responsive(1350px) {
      top: 80rem;
    }

    @include responsive(1200px) {
      left: -70rem;
    }

    @include responsive(700px) {
      left: -100rem;
    }

    @include responsive(500px) {
      left: -120rem;
    }
  }

  &__flare-4 {
    position: absolute;
    top: 100rem;
    right: -80rem;
    z-index: 0;
    opacity: 0.68;
    transition: all 0.3s;

    @include responsive(1700px) {
      right: -100rem;
    }

    @include responsive(1350px) {
      top: 140rem;
    }

    @include responsive(1200px) {
      right: -120rem;
    }

    @include responsive(700px) {
      right: -140rem;
    }

    @include responsive(500px) {
      right: -150rem;
    }
  }

  &__flare-5 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.68;

    display: none;

    @include responsive(500px) {
      display: block;
      bottom: 45rem;
      left: -10rem;
    }
  }
}
