.hero {
  padding-top: 3.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;

  .sticky & {
    margin-top: 8.2rem;
  }

  @include responsive(1200px) {
    text-align: center;

    padding-top: 5.6rem;
  }

  &__container {
    padding: 0 !important;
    max-width: 180rem;
    margin: auto;

    position: relative;
  }

  &__top {
    max-width: 165rem;
    padding: 0 2.4rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    margin-bottom: 2.4rem;
    text-align: right;

    @include responsive(1200px) {
      display: inline-flex;
      max-width: initial;
    }

    @include responsive(700px) {
      gap: 0;
    }
  }

  &__top-heading {
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;

    @include responsive(700px) {
      font-size: 2.8rem;
    }

    @include responsive(550px) {
      font-size: 2.2rem;
    }
  }

  &__top-img {
    display: block;

    @include responsive(700px) {
      height: 1.2rem;
    }
  }

  &__main {
    padding: 17rem 0;

    display: flex;

    @include responsive(1200px) {
      flex-direction: column;
      padding: 0 !important;
    }
  }

  &__main-content {
    position: relative;

    @include responsive(1200px) {
      margin-top: 7.2rem;
      padding: 0 2.4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__star-1 {
    position: absolute;
    top: -12rem;
    left: 5.2rem;

    @include responsive(800px) {
      top: -6rem;
    }

    @include responsive(450px) {
      left: 15rem;
      top: -3rem;
    }
  }

  &__star-2 {
    position: absolute;
    top: -7rem;
    right: 0;

    @include responsive(1200px) {
      right: 4.8rem;
    }
  }

  &__star-3 {
    position: absolute;
    bottom: 10rem;
    right: 25rem;

    @include responsive(700px) {
      right: 15rem;
    }

    @include responsive(450px) {
      bottom: 15rem;
      right: 4.8rem;
    }
  }

  &__heading {
    font-family: "ClashDisplay-Bold";
    font-size: 8rem;
    line-height: 1.25;

    margin-bottom: 2.4rem;

    position: relative;

    & span {
      color: #d434fe;
    }

    @include responsive(1200px) {
      text-align: center;
    }

    @include responsive(700px) {
      font-size: 6rem;
    }

    @include responsive(550px) {
      font-size: 4.8rem;
    }

    @include responsive(450px) {
      font-size: 4rem;
    }
  }

  &__heading-img {
    display: inline-block;
    margin-bottom: -6px;

    @include responsive(700px) {
      height: 5.6rem;
    }

    @include responsive(550px) {
      height: 4.8rem;
    }

    @include responsive(450px) {
      height: 3.6rem;
    }
  }

  &__bulb-img {
    position: absolute;
    top: 0;
    right: 16rem;
    transform: translateY(-60%);

    @include responsive(1200px) {
      right: 10rem;

      transform: translateY(-70%);
    }

    @include responsive(700px) {
      height: 4.8rem;
    }

    @include responsive(550px) {
      right: 7.5rem;
      transform: translateY(-75%);
    }

    @include responsive(450px) {
      right: 5.5rem;
      transform: translateY(-80%);
    }
  }

  &__text {
    font-size: 2rem;

    margin-bottom: 4.2rem;

    @include responsive(450px) {
      & br {
        display: none;
      }
    }
  }

  &__time-blocks {
    margin-top: 8.4rem;

    display: flex;
    align-items: center;
    gap: 3.6rem;
  }

  &__time-block {
    display: flex;
    align-items: flex-end;
  }

  &__time {
    font-size: 6.4rem;
    font-family: "Unica One", cursive;
    line-height: 0.9;
  }

  &__time-unit {
    display: block;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    height: 115%;
    width: 98rem;

    margin-bottom: -2.4rem;
    transition: all 0.3s;

    @include responsive(1400px) {
      margin-right: -10rem;
    }

    @include responsive(1300px) {
      margin-right: -20rem;
    }

    @include responsive(1200px) {
      position: initial;
      margin-bottom: 0;
      margin-right: 0;
      width: 100%;
      height: auto;
    }
  }
}
